<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.png">
    <title><%= title %></title>
    <link rel="stylesheet" href="/blue_galaxy.css">
</head>
<body>
    <div class="wrap">
        <%- include(content) %>
    </div>
    <script src="/script.js"></script>
</body>
</html>

