<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/blue_galaxy.css">
</head>
<body>
    <h1 class="neon-text"><%= heading %></h1>
    <div>
        <%- body %>
    </div>
</body>
</html>
